body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #1E3A8A, #2563EB);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#game-container {
    text-align: center;
}

#game-canvas {
    border: 2px solid white;
    background-color: rgba(37, 99, 235, 0.4); /* Priehľadné pozadie pre canvas */
}